@import "tailwindcss";

:root {
  --bg: #13131F;
  --surface: #1C1C2E;
  --border: #2E2E48;
  --mint: #00FFB2;
  --violet: #9B5FFF;
  --white: #F5F5FF;
  --muted: #8080A8;
}

body {
  background-color: var(--bg);
  color: var(--white);
}

* {
  box-sizing: border-box;
}
